@inherits BillingAndShippingRazor
<div class="tab-pane fade" id="kt_customer_view_overview_events_and_logs_tab" role="tabpanel">
  <div class="card pt-4 mb-6 mb-xl-9">
    <div class="card-header border-0">
      <div class="card-title">
        <h2>Logs</h2>
      </div>
      <div class="card-toolbar">
        <button type="button" class="btn btn-sm btn-light-primary">
          <i class="ki-duotone ki-cloud-download fs-3">
            <span class="path1"></span>
            <span class="path2"></span>
          </i>Download Report
        </button>
      </div>
    </div>
    <div class="card-body py-0">
      <div class="table-responsive">
        <table class="table align-middle table-row-dashed fw-semibold text-gray-600 fs-6 gy-5"
               id="kt_table_customers_logs">
          <tbody>
          <tr>
            <td class="min-w-70px">
              <div class="badge badge-light-success">200 OK</div>
            </td>
            <td>POST /v1/invoices/in_1128_9629/payment</td>
            <td class="pe-0 text-end min-w-200px">20 Jun 2023, 9:23 pm</td>
          </tr>
          <tr>
            <td class="min-w-70px">
              <div class="badge badge-light-success">200 OK</div>
            </td>
            <td>POST /v1/invoices/in_3234_3670/payment</td>
            <td class="pe-0 text-end min-w-200px">21 Feb 2023, 5:30 pm</td>
          </tr>
          <tr>
            <td class="min-w-70px">
              <div class="badge badge-light-warning">404 WRN</div>
            </td>
            <td>POST /v1/customer/c_64b7761b2cf03/not_found</td>
            <td class="pe-0 text-end min-w-200px">10 Nov 2023, 6:43 am</td>
          </tr>
          <tr>
            <td class="min-w-70px">
              <div class="badge badge-light-success">200 OK</div>
            </td>
            <td>POST /v1/invoices/in_3234_3670/payment</td>
            <td class="pe-0 text-end min-w-200px">25 Jul 2023, 9:23 pm</td>
          </tr>
          <tr>
            <td class="min-w-70px">
              <div class="badge badge-light-danger">500 ERR</div>
            </td>
            <td>POST /v1/invoice/in_4345_8306/invalid</td>
            <td class="pe-0 text-end min-w-200px">25 Jul 2023, 6:05 pm</td>
          </tr>
          <tr>
            <td class="min-w-70px">
              <div class="badge badge-light-success">200 OK</div>
            </td>
            <td>POST /v1/invoices/in_6715_1106/payment</td>
            <td class="pe-0 text-end min-w-200px">05 May 2023, 10:30 am</td>
          </tr>
          <tr>
            <td class="min-w-70px">
              <div class="badge badge-light-warning">404 WRN</div>
            </td>
            <td>POST /v1/customer/c_64b7761b2cf04/not_found</td>
            <td class="pe-0 text-end min-w-200px">24 Jun 2023, 5:30 pm</td>
          </tr>
          <tr>
            <td class="min-w-70px">
              <div class="badge badge-light-warning">404 WRN</div>
            </td>
            <td>POST /v1/customer/c_64b7761b2cf02/not_found</td>
            <td class="pe-0 text-end min-w-200px">20 Jun 2023, 10:30 am</td>
          </tr>
          <tr>
            <td class="min-w-70px">
              <div class="badge badge-light-danger">500 ERR</div>
            </td>
            <td>POST /v1/invoice/in_4345_8306/invalid</td>
            <td class="pe-0 text-end min-w-200px">10 Mar 2023, 11:30 am</td>
          </tr>
          <tr>
            <td class="min-w-70px">
              <div class="badge badge-light-success">200 OK</div>
            </td>
            <td>POST /v1/invoices/in_2152_7892/payment</td>
            <td class="pe-0 text-end min-w-200px">10 Mar 2023, 8:43 pm</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

@code {

  [Parameter]
  public string Name { get; set; }

  protected override void OnInitialized()
  {
  // LocalStorage.SetItem("name", "John Smith");
  // var name = LocalStorage.GetItem<string>("name");
  // Console.WriteLine("admin area check");
  }

  protected void OnAfterRenderAsync(bool firstRender)
  {
    if (!firstRender) return;
  }

}
