<div class="container">
  <!--begin::Wrapper-->
  <div class="d-flex flex-column flex-md-row flex-stack py-7 py-lg-10">
    <!--begin::Copyright-->
    <div class="d-flex align-items-center order-2 order-md-1">
      <!--begin::Logo-->
      <a href="#">
        <img alt="Logo" src="assets/media/logos/landing.svg" class="h-15px h-md-20px"/>
      </a>
      <!--end::Logo image-->
      <!--begin::Logo image-->
      <span class="mx-5 fs-6 fw-semibold text-gray-600 pt-1" href="#">&copy; 2023 Xamdit Inc.</span>
      <!--end::Logo image-->
    </div>
    <!--end::Copyright-->
    <!--begin::Menu-->
    <ul class="menu menu-gray-600 menu-hover-primary fw-semibold fs-6 fs-md-5 order-1 mb-5 mb-md-0">
      <li class="menu-item">
        <a href="/faqs" target="_blank" class="menu-link px-2">Faqs</a>
      </li>
      <li class="menu-item mx-5">
        <a href="/support" target="_blank" class="menu-link px-2">Support</a>
      </li>
      <li class="menu-item">
        <a href="/purchase" target="_blank" class="menu-link px-2">Purchase</a>
      </li>
    </ul>
    <!--end::Menu-->
  </div>
  <!--end::Wrapper-->
</div>
