<div class="tab-pane fade" id="kt_landing_projects_mobile_apps">
  <div class="row g-10">
    <div class="col-lg-6">
      <div class="row g-10 mb-10">
        <div class="col-lg-6">
          <a class="d-block card-rounded overlay" data-fslightbox="lightbox-projects"
             href="assets/media/stock/600x600/img-16.jpg">
            <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded h-250px"
                 style="background-image:url('assets/media/stock/600x600/img-16.jpg')">
            </div>
            <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
              <i class="ki-duotone ki-eye fs-3x text-white">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
              </i>
            </div>
          </a>
        </div>
        <div class="col-lg-6">
          <a class="d-block card-rounded overlay" data-fslightbox="lightbox-projects"
             href="assets/media/stock/600x600/img-12.jpg">
            <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded h-250px"
                 style="background-image:url('assets/media/stock/600x600/img-12.jpg')">
            </div>
            <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
              <i class="ki-duotone ki-eye fs-3x text-white">
                <span class="path1"></span>
                <span class="path2"></span>
                <span class="path3"></span>
              </i>
            </div>
          </a>
        </div>
      </div>
      <a class="d-block card-rounded overlay" data-fslightbox="lightbox-projects"
         href="assets/media/stock/600x400/img-15.jpg">
        <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded h-250px"
             style="background-image:url('assets/media/stock/600x600/img-15.jpg')">
        </div>
        <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
          <i class="ki-duotone ki-eye fs-3x text-white">
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
          </i>
        </div>
      </a>
    </div>
    <div class="col-lg-6">
      <a class="d-block card-rounded overlay h-lg-100" data-fslightbox="lightbox-projects"
         href="assets/media/stock/600x600/img-23.jpg">
        <div
          class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded h-lg-100 min-h-250px"
          style="background-image:url('assets/media/stock/600x600/img-23.jpg')">
        </div>
        <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
          <i class="ki-duotone ki-eye fs-3x text-white">
            <span class="path1"></span>
            <span class="path2"></span>
            <span class="path3"></span>
          </i>
        </div>
      </a>
    </div>
  </div>
</div>
